{% extends "index" %}

{% block content %}
<div class="two-column fade-in" data-cascade>
    <div class="one-column contact">
        <div class="form-wrapper">
            {% include '_includes/_icons/close' %}
            {{ craft.formie.renderForm('jacksonForm') }}
            {{ craft.formie.renderFormJs('jacksonForm') }}
            {{ craft.formie.renderFormCss('jacksonForm') }}
        </div>
        <div class="text fade-in" data-cascade>
            <h2 class="highlight">Jackson Office</h2>
            <div>
                {% set location = entry.jacksonLocation.one() %}
                {% if location %}
                    <a class="hover" target="_blank" href="{{ entry.jacksonGoogle }}">
                        {{ location.addressLine1 }}, 
                        {{ location.locality }}, 
                        {{ location.administrativeArea }} 
                        {{ location.postalCode }}
                    </a>
                {% endif %}
                <a class="hover" target="_blank" href="{{ entry.jacksonPhone }}">{{ entry.jacksonPhone|replace({'tel:': ''}) }}</a>
                <a class="hover" target="_blank" href="mailto:{{ entry.jacksonEmail }}?subject=Hello,%20Jackson%20Office">{{ entry.jacksonEmail }}</a>
            </div>
            {% include '_includes/_blocks/button' with { 
                link: '#', 
                label: 'Get in touch',
                class: 'get-in-touch'
            } %}
        </div>
        <div class="background gradient bw">
            {% for asset in entry.jacksonImage %}
                {% include '_includes/_blocks/asset' with {
                    ratio: '4:5'
                } %}
            {% endfor %}
        </div>
    </div>
    <div class="one-column contact">
        <div class="form-wrapper">
            {% include '_includes/_icons/close' %}
            {{ craft.formie.renderForm('tetonForm') }}
            {{ craft.formie.renderFormJs('tetonForm') }}
            {{ craft.formie.renderFormCss('tetonForm') }}
        </div>
        <div class="text fade-in" data-cascade>
            {# <h4 class="coming-soon">Coming Soon</h4> #}
            <h2 class="highlight">Teton Valley Office</h2>
            <div>
                {% set location = entry.tetonLocation.one() %}
                {% if location %}
                    <a class="hover" target="_blank" href="{{ entry.tetonGoogle }}">
                        {{ location.addressLine1 }}, 
                        {{ location.locality }}, 
                        {{ location.administrativeArea }} 
                        {{ location.postalCode }}
                    </a>
                {% endif %}
                <a class="hover" target="_blank" href="{{ entry.tetonPhone }}">{{ entry.tetonPhone|replace({'tel:': ''}) }}</a>
                <a class="hover" target="_blank" href="mailto:{{ entry.tetonEmail }}?subject=Hello,%20Teton%20Valley%20Office">{{ entry.tetonEmail }}</a>
            </div>
            {% include '_includes/_blocks/button' with { 
                link: '#', 
                label: 'Get in touch',
                class: 'get-in-touch'
            } %}
        </div>
        <div class="background gradient bw">
            {% for asset in entry.tetonImage %}
                {% include '_includes/_blocks/asset' with {
                    ratio: '4:5'
                } %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}